.info__section {
  max-width: 70vw;
  margin-inline: auto;
  padding: 6em 0;
}

.info__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 1px solid lightgray;
  padding: 2em;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-out;
}
.info:hover {
  box-shadow: 0px 0px 19px 1px rgb(222, 217, 217);
}
/* For image inside the info section */

.info img {
  width: 100px;
  border: 2px solid lightgray;
  padding: 0.5em;
  border-radius: 20px;
}

.description {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description > a {
  text-decoration: none;
}
.description a:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .info__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .info__section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1284px) {
}

@media (min-width: 1536px) {
}
