.opinion__section {
  margin-bottom: 2rem;
}
.opinion__section > .opinion__title {
}
.opinion__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.opinion {
  padding: 1em 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  border-bottom: 1px solid var(--clr-gray-300);
}
.opinion:last-child {
  padding-bottom: 0;
  border: none;
}
.opinion > img {
  align-self: flex-start;
  width: 50px;
}
.opinion__description > h4 {
  color: var(--clr-gray-700);
  font-weight: 400;
}
.opinion__description > p {
  font-weight: 700;
}

@media (min-width: 48rem) {
  .opinion__section {
    grid-column: 1/3;
  }
  .opinion__container {
    flex-direction: row;
    gap: 2rem;
  }
  .opinion {
    flex-direction: column;
    border: none;
    padding: 0;
  }
}

@media (min-width: 64rem) {
  .opinion__section {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .opinion__container {
    flex-direction: column;
    gap: 0;
  }
  .opinion {
    flex-direction: row-reverse;
    border-bottom: 2px solid var(--clr-gray-300);
    padding: 1em 0;
  }
}
