.advertisement__section > header {
  color: var(--clr-gray-700);
  text-align: center;
  margin-bottom: 1rem;
}

.advertisement {
  height: 300px;
  background-color: var(--clr-gray-300);
}

/* Media queries */
@media (min-width: 48rem) {
  .advertisement__section {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .advertisement {
    height: 150px;
  }
}

@media (min-width: 64rem) {
  .advertisement__section {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
