.container {
  padding: 0 1em;
}

.grid {
  --column-count: 1;
  --col-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: var(--col-gap);
}

/* media queries for grid */
@media (min-width: 48rem) {
  .grid {
    --column-count: 2;
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 64rem) {
  .grid {
    --column-count: 3;
    grid-template-columns: 3fr 2fr 1fr;
  }
}
